* {
  font-family: Georgia, serif;
  box-sizing: border-box;
  margin: 0 auto;
}
.header {
  background: linear-gradient(rgba(0, 2, 105), rgb(20, 1, 190));
  background: #000000;
  padding: 0 0;
  size: 1em;
  display: block;
  position: relative;
}

.navitems {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr;
  grid-template-rows: 80px;
  color: rgb(255, 255, 255);
  font-size: 1em;
}

.logo {
  grid-column: 1/2;
  margin: auto;
  size: 1em;
  padding: 3% 15% 3% 15%;
  border-radius: 5px;
  border: 2px solid white;
}

.navlinks1 {
  grid-column-start: 4;
  margin: auto;
  padding: 3% 15% 3% 15%;
  border-radius: 5px;
  background-color: gray;
  border: 1px solid rgba(59, 57, 57, 0.861);
}
.navlinks2 {
  grid-column-start: 5;
  margin: auto;
  padding: 3% 15% 3% 15%;
  border-radius: 5px;
  border: 2px solid rgb(247, 247, 247);
}

@media screen and (max-width: 600px) {
  .navitems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px;
    grid-gap: 20px;
    color: rgb(249, 244, 244);
    font-size: 1.2em;
    padding: 0 20px 0 20px;
  }
}
